openapi: 3.0.3
info:
  version: 2.88.0
  title: ChurchSuite API - v2
  description: >-
    Access data from your ChurchSuite account over RESTful endpoints, returning
    JSON responses.
  termsOfService: https://churchsuite.com/terms-of-service/
  contact:
    email: support@churchsuite.com
servers:
  - url: https://api.churchsuite.com/v2
    description: Public API server
paths:
  /account:
    get:
      operationId: get_account
      summary: Get account details
      description: Retrieve the details about your account.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - profile.read
        - oauth_app:
            - full_access
        - oauth_app:
            - profile.read
      tags:
        - Profile
  /account/brands/default:
    get:
      operationId: get_default_brand
      summary: Get default brand
      description: >-
        Retrieve the default brand, used in places where a specific brand has
        not been selected.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brand'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - account
        - oauth_app:
            - full_access
        - oauth_app:
            - account
      tags:
        - Brands
  /account/brands/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 678
          minimum: 1
    get:
      operationId: get_brand
      summary: Get a brand
      description: Retrieve a single brand identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brand'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - brands.read
        - oauth_app:
            - full_access
        - oauth_app:
            - brands.read
      tags:
        - Brands
  /account/brands:
    get:
      operationId: list_brands
      summary: List brands
      description: Returns a list of brands, sorted alphabetically by name.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - brands.read
        - oauth_app:
            - full_access
        - oauth_app:
            - brands.read
      tags:
        - Brands
  /account/info:
    get:
      operationId: get_account_info
      summary: Get a summary of public account details
      description: >-
        Retrieve a summary of the public details about your account, that
        excludes information like the personal contact details of your billing,
        account and data protection contacts.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Info'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - account
        - oauth_app:
            - full_access
        - oauth_app:
            - account
      tags:
        - Profile
  /account/integrations/stripe/accounts:
    get:
      operationId: list_stripe_accounts
      summary: List Stripe integration accounts
      description: Returns a list of integrated Stripe accounts.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StripeAccount'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - oauth_app:
            - full_access
      tags:
        - Integrations
  /account/sites/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 678
          minimum: 1
    get:
      operationId: get_site
      summary: Get a site
      description: Retrieve a single site identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Site'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - account
        - oauth_app:
            - full_access
        - oauth_app:
            - account
      tags:
        - Sites
  /account/sites:
    get:
      operationId: list_sites
      summary: List sites
      description: Returns a list of sites, sorted by the order property.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - account
        - oauth_app:
            - full_access
        - oauth_app:
            - account
      tags:
        - Sites
  /account/users/current:
    get:
      operationId: get_current_user
      summary: Get current user
      description: >-
        Retrieve a single user identified as the user currently making the API
        request.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - user
        - oauth_app:
            - full_access
        - oauth_app:
            - user
      tags:
        - Users
  /account/users/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 678
          minimum: 1
    get:
      operationId: get_user
      summary: Get a user
      description: Retrieve a single user identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - users.read
        - oauth_app:
            - full_access
        - oauth_app:
            - users.read
      tags:
        - Users
  /account/users:
    get:
      operationId: list_users
      summary: List users
      description: Returns a list of users, sorted alphabetically by username.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - users.read
        - oauth_app:
            - full_access
        - oauth_app:
            - users.read
      tags:
        - Users
  /account/user_groups:
    get:
      operationId: list_user_groups
      summary: List user groups
      description: Returns a list of user groups, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserGroup'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - usergroups.read
        - oauth_app:
            - full_access
        - oauth_app:
            - usergroups.read
      tags:
        - Users
  /addressbook/contacts/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 78
          minimum: 1
    get:
      operationId: get_contact
      summary: Get a contact
      description: Retrieve a single contact identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Contacts
    delete:
      operationId: delete_contact
      summary: Delete a contact
      description: Delete a single contact identified by ID.
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Contacts
    put:
      operationId: edit_contact
      summary: Update a contact
      description: Update a single contact identified by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactEdit'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Contacts
  /addressbook/contacts/{id}/notes:
    parameters:
      - name: id
        in: path
        description: ID of the Contact in question.
        required: true
        schema:
          type: integer
          format: int32
          example: 2161
          minimum: 1
    get:
      operationId: list_contact_notes
      summary: List contact notes
      description: Returns a list of contact notes, sorted by pinned, created_at.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Contacts
    post:
      operationId: create_contact_note
      summary: Create a contact note
      description: Create a Note against a Contact in the Address Book module.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Note'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Contacts
  /addressbook/contacts:
    get:
      operationId: list_contacts
      summary: List contacts
      description: >-
        Returns a list of contacts, sorted alphabetically by last_name then
        first_name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: status
          in: query
          description: Filter records by the provided status.
          schema:
            type: string
            example: active
            default: active
            enum:
              - active
              - archived
              - pending
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: first_name, last_name, formal_name, email, telephone,
            mobile, address, job, employer.
          schema:
            description: A string to query by
            type: string
            example: mike
            minLength: 1
        - name: tag_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Contacts
    post:
      operationId: create_contact
      summary: Create a contact
      description: Create a contact with the provided settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                additionalProperties: false
                required:
                  - data
          links:
            EditContactByID:
              operationId: edit_contact
              parameters:
                id: $response.body#/data/id
            GetContactByID:
              operationId: get_contact
              parameters:
                id: $response.body#/data/id
            DeleteContactByID:
              operationId: delete_contact
              parameters:
                id: $response.body#/data/id
            CreateContactNote:
              operationId: create_contact_note
              parameters:
                id: $response.body#/data/id
            CreateContactKeyDateResource:
              operationId: create_contact_key_date_resource
              requestBody:
                resource:
                  id: $response.body#/data/id
            CreateContactTagResource:
              operationId: create_addressbook_tag_resource
              requestBody:
                person:
                  id: $response.body#/data/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Contacts
  /addressbook/custom_fields/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the custom field to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 8
          minimum: 1
    get:
      operationId: get_addressbook_custom_field
      summary: Get a custom field
      description: Retrieve a single custom field identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomField'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Custom Fields
  /addressbook/custom_fields:
    get:
      operationId: list_addressbook_custom_fields
      summary: List custom fields
      description: Returns a list of custom fields
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Custom Fields
  /addressbook/flows/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 45
          minimum: 1
    get:
      operationId: get_contact_flow
      summary: Get a flow
      description: Retrieve a single flow identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flow'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Flows
  /addressbook/flows:
    get:
      operationId: list_addressbook_flows
      summary: List flows
      description: Returns a list of flows, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: status
          in: query
          description: Filter records by the provided status.
          schema:
            type: string
            example: active
            default: active
            enum:
              - active
              - archived
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: name.
          schema:
            description: A URL encoded string.
            type: string
            example: wedding
            minLength: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Flows
  /addressbook/flow_stages/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 45
          minimum: 1
    delete:
      operationId: delete_addressbook_flow_stage
      summary: Delete a flow stage
      description: >-
        Delete a single stage identified by ID. When a stage is deleted, all
        actions and flow trackings linked to the stage will be deleted.
      responses:
        '204':
          description: Successfully deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Flows
    get:
      operationId: get_addressbook_flow_stage
      summary: Get a flow stage
      description: Retrieve a single stage identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowStage'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Flows
    put:
      operationId: edit_addressbook_flow_stage
      summary: Update a flow stage
      description: Update a single stage identified by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowStageEdit'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowStage'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Flows
  /addressbook/flow_stages:
    get:
      operationId: list_addressbook_flow_stages
      summary: List flow stages
      description: Returns a list of stages.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: flow_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowStage'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Flows
    post:
      operationId: create_addressbook_flow_stage
      summary: Create a flow stage
      description: Create a stage for a flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowStageAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FlowStage'
                additionalProperties: false
                required:
                  - data
          links:
            EditFlowStageByID:
              operationId: edit_addressbook_flow_stage
              parameters:
                id: $response.body#/data/id
            GetFlowStageByID:
              operationId: get_addressbook_flow_stage
              parameters:
                id: $response.body#/data/id
            DeleteFlowStageByID:
              operationId: delete_addressbook_flow_stage
              parameters:
                id: $response.body#/data/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Flows
  /addressbook/form_fields/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the form field to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 8
          minimum: 1
    get:
      operationId: get_addressbook_form_field
      summary: Get a form field
      description: Retrieve a single form field identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FormField'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Form Fields
  /addressbook/form_fields:
    get:
      operationId: list_addressbook_form_fields
      summary: List form fields
      description: Returns a list of form fields
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: form_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormField'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Form Fields
  /addressbook/form_responses/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 45
          minimum: 1
    get:
      operationId: get_addressbook_form_response
      summary: Get a form response
      description: Retrieve a single form response identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FormResponse'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Form Responses
  /addressbook/form_responses:
    get:
      operationId: list_addressbook_form_responses
      summary: List form responses
      description: Returns a list of form responses, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: form_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: statuses[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: string
              example: active
              enum:
                - active
                - archived
                - spam
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: first_name, last_name.
          schema:
            description: A URL encoded string.
            type: string
            example: sally
            minLength: 1
        - name: has_linked_resource
          in: query
          description: Filter records by the provided status.
          schema:
            type: boolean
            example: true
        - name: invite_response
          in: query
          description: Filter records by the provided status.
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Form Responses
  /addressbook/key_date_resources/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 45
          minimum: 1
    delete:
      operationId: delete_contact_key_date_resource
      summary: Delete a key date resource
      description: >-
        Delete a single key date resource identified by an ID, removing a
        contact from a key date.
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
    put:
      operationId: edit_contact_key_date_resource
      summary: Update a key date resource
      description: Update a single key date resource identified by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyDateResourceEdit'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KeyDateResource'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
  /addressbook/key_date_resources:
    get:
      operationId: list_contact_key_date_resources
      summary: List key date resources
      description: >-
        Returns a list of key date resources, optionally filtered by key date or
        contact ID. A key date resource records an instance of a key date for a
        contact on a given date.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: key_date_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: contact_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyDateResource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Key Dates
    post:
      operationId: create_contact_key_date_resource
      summary: Create a key date resource
      description: Create a key date resource adding a contact to a key date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyDateResourceAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KeyDateResource'
                additionalProperties: false
                required:
                  - data
          links:
            EditKeyDateResourceByID:
              operationId: edit_contact_key_date_resource
              parameters:
                id: $response.body#/data/id
            DeleteKeyDateResourceByID:
              operationId: delete_contact_key_date_resource
              parameters:
                id: $response.body#/data/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
  /addressbook/key_dates/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          example: 78
          minimum: 1
    get:
      operationId: get_addressbook_key_date
      summary: Get a key date
      description: Retrieve a single key date identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KeyDate'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Key Dates
    delete:
      operationId: delete_addressbook_key_date
      summary: Delete a key date
      description: Delete a single key date identified by ID.
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
    put:
      operationId: edit_addressbook_key_date
      summary: Update a key date
      description: Update a single key date identified by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyDateEdit'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KeyDate'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
  /addressbook/key_dates:
    get:
      operationId: list_addressbook_key_dates
      summary: List key dates
      description: Returns a list of key dates, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: name.
          schema:
            description: A URL encoded string.
            type: string
            example: Joined
            minLength: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyDate'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Key Dates
    post:
      operationId: create_addressbook_key_date
      summary: Create a key date
      description: Create a key date with the provided settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyDateAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KeyDate'
                additionalProperties: false
                required:
                  - data
          links:
            EditKeyDateByID:
              operationId: edit_addressbook_key_date
              parameters:
                id: $response.body#/data/id
            GetKeyDateByID:
              operationId: get_addressbook_key_date
              parameters:
                id: $response.body#/data/id
            DeleteKeyDateByID:
              operationId: delete_addressbook_key_date
              parameters:
                id: $response.body#/data/id
            AddKeyDateResource:
              operationId: create_contact_key_date_resource
              requestBody:
                key_date_id: $response.body#/data/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Key Dates
  /addressbook/tags/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    delete:
      operationId: delete_addressbook_tag
      summary: Delete a tag
      description: Delete a single tag identified by an ID.
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Tags
    get:
      operationId: get_addressbook_tag
      summary: Get a tag
      description: Retrieve a single tag identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Tag'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Tags
    put:
      operationId: edit_addressbook_tag
      summary: Update a tag
      description: Update a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagEdit'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Tag'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Tags
  /addressbook/tags:
    get:
      operationId: list_addressbook_tag
      summary: List tags
      description: Returns a list of tags, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: name.
          schema:
            description: A string to query by
            type: string
            example: leaders
            minLength: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Tags
    post:
      operationId: create_addressbook_tag
      summary: Create a tag
      description: Create a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Tag'
                additionalProperties: false
                required:
                  - data
          links:
            EditAddressBookTagByID:
              operationId: edit_addressbook_tag
              parameters:
                id: $response.body#/data/id
            DeleteAddressBookTagByID:
              operationId: delete_addressbook_tag
              parameters:
                id: $response.body#/data/id
            CreateAddressBookTagResource:
              operationId: create_addressbook_tag_resource
              requestBody:
                tag_id: $response.body#/data/id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Tags
  /addressbook/tag_categories/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the category to retrieve
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_addressbook_tag_category
      summary: Get a tag category
      description: Retrieve a single tag category identified by ID
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TagCategory'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Tags
  /addressbook/tag_categories:
    get:
      operationId: list_addressbook_tag_categories
      summary: List tag categories
      description: Returns a list of tag categories, sorted alphabetically by name.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TagCategory'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Tags
  /addressbook/tag_resources:
    delete:
      operationId: delete_addressbook_tag_resource
      summary: Delete a tag resource
      description: >-
        Delete a single tag resource identified by a contact ID and tag ID,
        unlinking a contact from a tag.
      parameters:
        - name: contact_id
          in: query
          description: Filter records by the provided ID.
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: tag_id
          in: query
          description: Filter records by the provided ID.
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '204':
          description: Successfully deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Tags
    get:
      operationId: list_addressbook_tag_resources
      summary: List tag resources
      description: >-
        Returns a list of tag resources. A tag resource is the relational model
        linking a contact to a tag.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: contact_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: tag_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TagResource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.read
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.read
      tags:
        - Tags
    post:
      operationId: create_addressbook_tag_resource
      summary: Create a tag resource
      description: Create a tag resource linking a contact to a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagResourceAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TagResource'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - addressbook.write
        - oauth_app:
            - full_access
        - oauth_app:
            - addressbook.write
      tags:
        - Tags
  /attendance/gatherings/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_attendance_gathering
      summary: Get a gathering
      description: Retrieve a single gathering identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Gathering'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Gatherings
  /attendance/gatherings:
    get:
      operationId: list_attendance_gatherings
      summary: List gatherings
      description: Returns a list of gatherings, sorted alphabetically by name.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: status
          in: query
          description: Filter records by the provided status.
          schema:
            type: string
            example: active
            default: active
            enum:
              - active
              - archived
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: name.
          schema:
            description: A string to query by.
            type: string
            example: Sunday AM
            minLength: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gathering'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Gatherings
  /attendance/metricsets/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_attendance_metricset
      summary: Get a metricset
      description: Retrieve a single metricset identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Metricset'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Metricsets
  /attendance/metricsets:
    get:
      operationId: list_attendance_metricsets
      summary: List metricsets
      description: Returns a list of metricsets, sorted alphabetically by order.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: gathering_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metricset'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Metricsets
  /attendance/metrics:
    get:
      operationId: get_attendance_metrics
      summary: List metrics
      description: Returns a list of metrics, sorted alphabetically by order.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: metricset_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metric'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Metrics
  /attendance/records/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_attendance_record
      summary: Get a record
      description: Retrieve a single record identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Record'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Records
  /attendance/records:
    get:
      operationId: list_attendance_records
      summary: List records
      description: Returns a list of records, sorted by date.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: days[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: string
              example: wednesday
              enum:
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday
                - sunday
        - name: gathering_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: is_before
          in: query
          description: Only include records that are before this date.
          schema:
            type: string
            format: date
            example: '2024-02-24'
        - name: is_after
          in: query
          description: Only include records that are after this date.
          schema:
            type: string
            format: date
            example: '2024-01-24'
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Record'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Records
  /attendance/record_contacts:
    get:
      operationId: list_record_contacts
      summary: List record contacts
      description: Returns a list of contacts who were recorded as attending a gathering.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: contact_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: record_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordContact'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Records
  /attendance/record_metrics:
    get:
      operationId: list_record_metric
      summary: List record metrics
      description: >-
        Returns a list of record metrics, i.e. number/currency values that have
        been recorded for an attendance record.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: metric_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: record_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordMetric'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - attendance.read
        - oauth_app:
            - full_access
        - oauth_app:
            - attendance.read
      tags:
        - Records
  /bookings/booked_resources:
    get:
      operationId: list_booked_resources
      summary: List booked resources
      description: Returns a list of booked resources, sorted by start date.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: booking_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookedResource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Resources
  /bookings/bookings/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_booking
      summary: Get a booking
      description: Retrieve a single booking identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Bookings
  /bookings/bookings/{id}/notes:
    parameters:
      - name: id
        in: path
        description: ID of the Booking in question.
        required: true
        schema:
          type: integer
          format: int32
          example: 8005
          minimum: 1
    get:
      operationId: list_booking_notes
      summary: List booking notes
      description: Returns a list of booking notes, sorted by pinned, created_at.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Bookings
    post:
      operationId: create_booking_note
      summary: Create a booking note
      description: Create a Note against a Booking in the Bookings module.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteAdd'
      responses:
        '201':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Note'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.write
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.write
      tags:
        - Bookings
  /bookings/bookings:
    get:
      operationId: list_bookings
      summary: List bookings
      description: Returns a list of bookings, sorted alphabetically start date.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: status
          in: query
          description: Filter records by the provided status.
          schema:
            type: string
            example: confirmed
            default: confirmed
            enum:
              - confirmed
              - cancelled
              - pending
              - declined
        - name: starts_before
          in: query
          description: Only include records that start before this date.
          schema:
            type: string
            format: date
            example: '2024-02-24'
        - name: starts_after
          in: query
          description: Only include records that start after this date.
          schema:
            type: string
            format: date
            example: '2024-01-24'
        - name: customer_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: type_ids[]
          in: query
          description: >-
            Filter records to those matching values in the provided array. This
            filter uses the logical OR operator.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
        - name: q
          in: query
          description: >-
            Filter records with a fuzzy string match against the following
            properties: name, date, reference, sequence_id.
          schema:
            description: A string to query by
            type: string
            example: '2024-04-12'
            minLength: 1
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Bookings
  /bookings/charges:
    get:
      operationId: list_charges
      summary: List charges
      description: >-
        Returns a list of charges, sorted by due date. Requires either a
        booking_id or customer_id parameter to be provided.
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: booking_id
          in: query
          description: Filter records by the provided ID.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: customer_id
          in: query
          description: Filter records by the provided ID.
          schema:
            type: integer
            format: int32
            minimum: 1
        - name: paid
          in: query
          description: Filter records by the provided status.
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Charge'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                additionalProperties: false
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Charges
  /bookings/customers/{id}:
    parameters:
      - name: id
        in: path
        description: ID of the record to retrieve.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
    get:
      operationId: get_customer
      summary: Get a customer
      description: Retrieve a single customer identified by ID.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                additionalProperties: false
                required:
                  - data
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      security:
        - api_enabled_user:
            - full_access
        - api_enabled_user:
            - bookings.read
        - oauth_app:
            - full_access
        - oauth_app:
            - bookings.read
      tags:
        - Customers
  /bookings/customers/{id}/notes:
    parameters:
      - name: id
        in: path
        description: ID of the Customer in question.
        required: true
        schema:
          type: integer
          format: int32
          example: 321
          minimum: 1
    get:
      operationId: list_customer_notes
      summary: List customer notes
      description: Returns a list of customer notes, sorted by pinned, created_at.
      responses:
        '200':
          description: OK Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                additionalProperties: false
                required:
                  - data
        '400':
          $ref: '#/components/responses/400'
        '401':
[...]
